@import url('https://fonts.googleapis.com/css2?family=Playwrite+MX+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
  font-family: "Roboto", sans-serif;
  text-align: center;
}

h2 {
text-align: center;

}

p {
  font-size: larger;
}

.landingContainer {
  display: flex;
  flex-direction: column;       
  justify-content: center;     
  align-items: center;          
  height: 82vh;               
  background-color: rgb(189, 239, 185);
  gap: 20px;                   
}

.switchTheme {
  background-color: #3f89b9;
}



#titleCard {
  background-color: white;
  width: 250px;
  text-align: center;
  display: inline-block;
   border-radius: 12px;
   margin: 15px;
}



img {
  max-width: 600px;
  height: 350px;
}

#projectCardSet {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;             
  padding: 20px;
  justify-content: center; 
  background-color: rgb(189, 239, 185);
}

#achievementCardSet {
  display: flex;
  flex-wrap: wrap;       
  gap: 20px;             
  padding: 20px;
  justify-content: center; 
  background-color: rgb(189, 239, 185);
}


.trophyIcon {
  position: absolute;
  top: 10px;
  left: 10px;
  color: gold;
}


.projectCards {
  
  max-width: 520px;    
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: white;
  position: relative;
  height: 560px;
}

.achievementCards {
   height: 200px;     
  max-width: 400px;     
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  position: relative;
}


footer {
  width: 100%;
  text-align: center;
  background-color: #f8f9fa; 
  padding: 10px 0; 
}



#projectSection {
  background-color:  rgb(189, 239, 185);
  justify-content: center;
  text-align: center;
}

.welcomeCard {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: white;
  height: 300px;
  width: 600px;
  border: black  solid 2px ;
  border-radius: 12px;
  flex-direction: column;

}

#greeting {
top: 0px;

}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 12px;
}

